@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Space+Grotesk:wght@500&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif; */

:root {
   --font-quote : 'Roboto', sans-serif;
   --font-main : 'Space Grotesk', sans-serif;
   --greenish-blue : hsl(163, 100%, 33%);
   --white : hsl(180, 14%, 97%);
   --chocolate-300 : hsl(357, 42%, 71%);
   --chocolate-600 : hsl(11, 29%, 52%);
   --chocolate-800 : hsl(14, 100%, 19%);
   --link-border : .7rem;
   --font-size : 1.125rem;
}

* {
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}

body {
    font-family : var(--font-main);
    font-size : var(--font-size);
}

img {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: auto;
    border-radius: 50%;
}

main {
    margin: 0;
    box-sizing: border: box;
    padding: 0;
    min-height : 100vh;
    width: 100%;
    max-width : 400px;
    display: grid;
    place-items : center;
    text-align : center;
    background-image: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius : var(--link-border);

}

/* profile container */

.profile-container {
   width : 120px;
   border-radius : 50%;
   margin: auto;

}


/* Typography  */

h1 {
    color: var(--white);
    font-style: italic;
}

p {
    font-family: var(--font-quote);
    color : var(--chocolate-300);
    text-shadow: 0 0 10px black;
}

.link-container a {
    color : var(--greenish-blue);
    text-decoration: none;
}


.link-container a p {
    font-family: var(--font-main);
    color : var(--greenish-blue);
}


/* link container */

.link-container {
    display: flex;
    flex-direction : column;
    gap: 1.5rem;
}

.link-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 3px solid var(--greenish-blue);
    width : 200px;
    padding: .5rem 0;
    margin: auto;
    border-radius: 10px;
    transition : all 100ms ease-in;
}

/* github */

.github:hover {
   border-color: black;
   color: black;
   background-color: rgba(256, 256, 256, 0.8);
   box-shadow: 1px 1px 10px rgba(256, 256, 256, .5);
}

.github:hover p {
   color : black;
}

/* twitter */

.twitter:hover {
   border-color : #1DA1F2;
   color : #1DA1F2;
   background-color: rgba(0, 0, 0, 0.5);
   box-shadow: 1px 1px 10px #1DA1F299;

}

.twitter:hover p {
   color : #1DA1F2;
}

/* linkedIn */

.linkedIn:hover {
    border-color : #0072b1;
    color : #0072b1;
    background-color : rgba(256, 256, 256);
    box-shadow : 1px 1px 10px #0072b1ee;
}

.linkedIn:hover p {
    color : #0072b1;
}

/* Instagram */

.instagram:hover {
    border-color : #fa7e1e;
    color: #fa7e1e;
    background-color : rgba(256, 256, 256);
    /*box-shadow : 1px 1px 10px #fa7e1e88;*/
}

.instagram:hover p {
    color : #fa7e1e;
}

/* Gmail */

.gmail:hover {
    border-color : #34A853;
    color : #34A853;
    background-color: rgba(256, 256, 256);
}

.gmail:hover p {
    text-shadow : 0 0 10px black;
    color : #34A853;
}

/* discord */

.discord:hover {
    border-color : #7289DA;
    color : #7289DA;
    background-color : rgba(256, 256, 256);
}

.discord:hover p {
    color : #7289DA;
}


